.movie-review-card {
    margin: 5px;
    padding: 5px;

    border: 1px solid grey;

    &__title {
        display: inline-block;

        padding-bottom: 1%;
    }

    &__content {
        display: inline-block;

        padding-bottom: 1%;
    }

    &__rating {
        display: inline-block;
    }
}
