.movie-reviews-card {
    margin: 5px;
    padding: 5px;

    border: 1px solid grey;

    &__title {
        display: inline-block;
    }

    &__content {
        display: block;

        text-align: justify;
    }

    &__textarea {
        display: block;

        width: 100%;
        margin-bottom: 5px;

        resize: none;
    }

    &__rating {
        display: block;

        text-align: left;
    }

    &__button-container {
        float: right;
    }

    &__button-container-item {
        display: block;

        margin: 5px;
    }
}
